
@using System.Linq
@model List<Proyecto.ViewModels.CuentaViewModel>
@{
    ViewData["Title"] = "Index";
}


<a class="btn btn-primary" href="/Cuenta/Crear" role="button">Crear Cuenta</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>

            <th scope="col">Tipo Cuenta</th>
            <th scope="col">Nombre</th>
            <th scope="col">Entidad Emisora</th>
            <th scope="col">Metodo de Págo </th>
            <th scope="col">Saldo Inicial</th>
            <th scope="col">Saldo Final</th>

            <th scope="col">Gastos</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var cuentaModel in Model)
        {
        <tr>
            <td>@cuentaModel.Cuenta.IdCuenta</td>

            <td>@cuentaModel.Cuenta.TipoCuenta.Nombre</td>
            <td>@cuentaModel.Cuenta.Nombre</td>
            <td>@cuentaModel.EntidadEmisora.Nombre</td>
            <td>@cuentaModel.MetodoPago.Nombre</td>
            <td>@cuentaModel.Cuenta.SaldoInicial</td>
            <td>@cuentaModel.Cuenta.SaldoFinal</td>
            <td>
                <a href="/Gasto/index?cuentaId=@cuentaModel.Cuenta.IdCuenta">Gastos</a>

            </td>

        </tr>
        }
    </tbody>


</table>
@Model.Aggregate(0m, (total, cuentaActual) => total + cuentaActual.Cuenta.SaldoInicial)