
@{
    ViewData["Title"] = "TarjetaDébito";
    Layout = null;
}


<div class="row">
    <label>Entidad Emisora</label>
    <select class="form-control" name="EntidadEmidoraId">
        <option value="value">Seleccione Entidad Emisora</option>
        @foreach (var item in ViewBag.EntidadEmisora)
        {
            <option value="@item.IdEntidadEmisora">@item.Nombre</option>
        }
    </select>
</div>
<div class="row">
    <label>Entidad</label>
    <input type="text" class="form-control" name="Entidad" value="@Model.Entidad" />
</div>
<div class="row">
    <label>Numero de Tarjeta</label>
    <input type="text" class="form-control" name="NumeroTarjeta" value="@Model.NumeroTarjeta" />
</div>
<div class="row">
    <label>Nombre</label>
    <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
</div>
<div class="row">
    <label>Saldo Inicial</label>
    <input type="text" class="form-control" name="SaldoInicial" value="@Model.SaldoInicial" />
</div>
<div class="row">
    <label>Concepto</label>
    <input type="text" class="form-control" name="Concepto" value="@Model.Concepto" />
</div>



